<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.carbon.now.eclipse.commands"
         name="CarbonNowCommands"
         point="org.eclipse.ui.commands">
      <category
            id="com.carbon.now.eclipse.commands.CarbonNowCategory"
            name="Carbon">
      </category>
      <command
            categoryId="com.carbon.now.eclipse.commands.CarbonNowCategory"
            id="com.carbon.now.eclipse.InvokeCarbonNow"
            name="Carbon...">
      </command>
   </extension>
   <extension
         id="com.carbon.now.eclipse.handlers"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.carbon.now.eclipse.handlers.InvokeCarbonNowHandler"
            commandId="com.carbon.now.eclipse.InvokeCarbonNow">
      </handler>
   </extension>
   <extension
         id="com.carbon.now.eclipse.menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.carbon.now.eclipse.menus.CarbonMenu"
               label="Carbon">
            <command
                  commandId="com.carbon.now.eclipse.InvokeCarbonNow"
                  id="com.carbon.now.eclipse.menus.CarbonNowMenu.InvokeCarbonNow"
                  label="Carbon..."
                  mnemonic="C"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.carbon.now.eclipse.menus.CarbonNowToolbar">
            <command
                  commandId="com.carbon.now.eclipse.InvokeCarbonNow"
                  icon="icons/carbon-now.ico"
                  id="com.carbon.now.eclipse.menus.CarbonNowToolbar.InvokeCarbonNow"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
